<hr>

<table class="table-bordered table table-hover">
    <thead>
    <tr>
        <th>Nic</th>
        <th>Name</th>
        <th>Address</th>
        <th>Salary</th>
        <th>Option</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>644646</td>
        <td>kamal</td>
        <td>colombo</td>
        <td>2500</td>
        <td>
            <a href="#" class="btn btn-primary">Show Data</a>&nbsp;
            <a href="#" class="btn btn-danger">Delete</a>&nbsp;
            <a href="#" class="btn btn-warning">Update</a>&nbsp;
        </td>
    </tr>

    <tr>
        <td>644646</td>
        <td>kamal</td>
        <td>colombo</td>
        <td>2500</td>
        <td>
            <a href="#" class="btn btn-primary">Show Data</a>&nbsp;
            <a href="#" class="btn btn-danger">Delete</a>&nbsp;
            <a href="#" class="btn btn-warning">Update</a>&nbsp;
        </td>
    </tr>
    </tbody>

</table>
<hr>